@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

html,
body {
  height: 100%;
}

body {
  background-color: #f7f9fb;
  font-size: 14px;
}

.card {
  border-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.card .card-title {
  margin-bottom: 30px;
}

.form-control {
  border-width: 2.3px;
}

.form-group label {
  width: 100%;
}

.btn.btn-block {
  padding: 12px 10px;
}

.highlighted {
  color: deeppink;
}
